@model List<ContatoModel>
@{
    ViewData["Title"] = "Listagem de contatos";
}


<div class="text-center">

    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary" role="button" asp-controller="Contato" asp-action="Criar">Adicionar um novo contato</a>
    </div>
    <br />
    <h1 class="display-4">Listagem de Contatos</h1>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">E-mail</th>
                <th scope="col">Celular</th>
                <th scope="col"></th>
            </tr>
        </thead>
        @{
            if (Model != null && Model.Any())
            {
                foreach (ContatoModel item in Model)
                {
                    <tbody>
                        <tr>
                            <th scope="row">@item.Id</th>
                            <td>@item.Nome</td>
                            <td>@item.Email</td>
                            <td>@item.Celular</td>
                            <td>
                                <div class="btn-group" role="group">
                                    <a role="button" class="btn btn-primary" asp-controller="Contato" asp-action="Editar" asp-route-id="@item.Id">Editar</a>
                                    <a role="button" class="btn btn-danger" asp-controller="Contato" asp-action="ApagarConfirmacao" asp-route-id="@item.Id">Apagar</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                }
            }
        }
    </table>
</div>
